.landing {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/landing.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  color: #fff;
  margin-top: -1.2rem;
  margin-bottom: 0;
}

.landing-inner {
  padding-top: 20%;
}
